<header class="w-full relative {% if section.settings.is_show_divider %}border-b{% endif %}">
  <div class="hidden mx-auto py-2 px-2 md:py-5 header header-wrapper header--{{section.settings.header_style}} w-full section-{{section.settings.container}}{% if section.settings.header_style=='menu_2l_logo_center' or section.settings.header_style=='menu_2l_logo_left' %} lg:block {% else %} lg:flex {% endif %}items-center">
    {% case section.settings.header_style %}
      {% when 'menu_left_logo_center' %}
        {% render 'menu-item', section: section, style: 'w-2/5' %}
        {% comment %} Logo {% endcomment %}
        {%- if request.page_type == 'index' -%}
          <h1 class="header__head w-1/3 lg:w-1/5 text-center">
        {% else %}
          <div class="header__head w-1/3 lg:w-1/5 text-center">
        {%- endif -%}
        {% render 'header-logo' %}
        {%- if request.page_type == 'index' -%}
          </h1>
        {% else %}
          </div>
        {%- endif -%}
        {% comment %} End logo {% endcomment %}

        <div class="w-2/3 lg:w-2/5 text-end header__head flex justify-end gap-3 lg:gap-8">
          {% render 'header-icons', type: 'search' %}
          {% render 'header-icons', type: 'others' %}
        </div>
      {% when 'menu_center_logo_left' %}
        {% comment %} Logo {% endcomment %}
        {%- if request.page_type == 'index' -%}
          <h1 class="header__head w-1/3 lg:w-1/6 text-left">
        {% else %}
          <div class="header__head w-1/3 lg:w-1/6 text-left">
        {%- endif -%}
        {% render 'header-logo' %}
        {%- if request.page_type == 'index' -%}
          </h1>
        {% else %}
          </div>
        {%- endif -%}
        {% comment %} End logo {% endcomment %}

        {% render 'menu-item', section: section, style: 'w-4/6 justify-center' %}

        <div class="w-2/3 lg:w-1/6 text-end header__head flex justify-end gap-3 lg:gap-8">
          {% render 'header-icons', type: 'search' %}
          {% render 'header-icons', type: 'others' %}
        </div>

      {% when 'menu_right_logo_left' %}
        {% comment %} Logo {% endcomment %}
        {%- if request.page_type == 'index' -%}
          <h1 class="header__head w-1/3 text-start">
        {% else %}
          <div class="header__head w-1/3 text-start">
        {%- endif -%}
        {% render 'header-logo', style: 'menu_right_logo_left' %}
        {%- if request.page_type == 'index' -%}
          </h1>
        {% else %}
          </div>
        {%- endif -%}
        {% comment %} End logo {% endcomment %}

        {% render 'menu-item', section: section, style: 'w-4/6 justify-end' %}
        <div class="w-2/3 lg:w-1/6 text-end header__head flex justify-end gap-3 lg:gap-8">
          {% render 'header-icons', type: 'search' %}
          {% render 'header-icons', type: 'others' %}
        </div>

      {% when 'menu_2l_logo_center' %}
        <div class="w-full flex items-center justify-between header_top_2l">
          <div class="w-1/3">
            {% render 'header-icons', type: 'search' %}
          </div>
          {% comment %} Logo {% endcomment %}
          {%- if request.page_type == 'index' -%}
            <h1 class="header__head w-1/3 text-center">
          {% else %}
            <div class="header__head w-1/3 text-center">
          {%- endif -%}
          {% render 'header-logo' %}
          {%- if request.page_type == 'index' -%}
            </h1>
          {% else %}
            </div>
          {%- endif -%}
          {% comment %} End logo {% endcomment %}
          <div class="w-1/3 justify-end gap-5  header-icons">
            {% render 'header-icons', type: 'others' %}
          </div>
        </div>
        </div>
        {% render 'menu-item', section: section, style: 'justify-center w-full py-5' %}

      {% when 'menu_2l_logo_left' %}
        <div class="w-full flex items-center justify-between header_top_2l">
          {% comment %} Logo {% endcomment %}
          {%- if request.page_type == 'index' -%}
            <h1 class="header__head w-1/3 text-start">
          {% else %}
            <div class="header__head w-1/3 text-start">
          {%- endif -%}
          {% render 'header-logo', style: 'header_top_2l' %}
          {%- if request.page_type == 'index' -%}
            </h1>
          {% else %}
            </div>
          {%- endif -%}
          {% comment %} End logo {% endcomment %}

          <div class="w-1/3">
            {% render 'header-icons', type: 'search' %}
          </div>

          <div class="w-1/3 justify-end gap-5 hidden lg:flex header-icons">
            {% render 'header-icons', type: 'others' %}
          </div>
        </div>
        </div>
        {% render 'menu-item', section: section, style: 'justify-center w-full py-5' %}
    {% endcase %}
  </div>
  {% case section.settings.header_mobile_type %}
    {% when '2line_menu_bottom' %}
      <div class="block lg:hidden border-b py-2">
        {%- if request.page_type == 'index' -%}
          <h1 class="header__head w-full text-center">
        {% else %}
          <div class="header__head w-full text-center">
        {%- endif -%}
        {% render 'header-logo', style: 'header_mobile' %}
        {%- if request.page_type == 'index' -%}
          </h1>
        {% else %}
          </div>
        {%- endif -%}
        <div class="w-full flex items-center">
          {% render 'hamburger-button', style: '2l' %}
          <div class="w-full px-5">
            {% render 'header-search-icon', type: 'icon' %}
          </div>
          {% render 'header-icons', type: 'others' %}
        </div>
      </div>
    {% when 'menu_left_logo_center' %}
      <div class="w-full flex lg:hidden items-center  py-2">
        {% render 'hamburger-button' %}

        {%- if request.page_type == 'index' -%}
          <h1 class="header__head w-1/3 text-center">
        {% else %}
          <div class="header__head w-1/3 text-center">
        {%- endif -%}
        {% render 'header-logo', style: 'header_mobile' %}
        {%- if request.page_type == 'index' -%}
          </h1>
        {% else %}
          </div>
        {%- endif -%}
        <div class="w-1/3 text-end header__head flex justify-end gap-3 lg:gap-8">
          {% render 'header-icons', type: 'search' %}
          {% render 'header-icons', type: 'others' %}
        </div>
      </div>
  {% endcase %}
</header>
{% render 'mobile-menu-drawer' %}

{% schema %}
{
  "name": "Header",
  "enabled_on": {
    "groups": ["header"]
  },
  "limit": 1,
  "settings": [
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "select",
      "id": "container",
      "label": "Container width",
      "options": [
        {
          "label": "Container",
          "value": "container"
        },
        {
          "label": "Narrow",
          "value": "narrow_width"
        },
        {
          "label": "Full width",
          "value": "full_width"
        }
      ],
      "default": "container",
      "info": "Width value of section content"
    },
    {
      "type": "checkbox",
      "id": "is_show_divider",
      "label": "Show divider",
      "default": true
    },
    {
      "type": "select",
      "id": "header_style",
      "options": [
        {
          "value": "menu_left_logo_center",
          "label": "Menu left - Logo center"
        },
        {
          "value": "menu_center_logo_left",
          "label": "Menu center - Logo left"
        },
        {
          "value": "menu_right_logo_left",
          "label": "Menu right - Logo left"
        },
        {
          "value": "menu_2l_logo_center",
          "label": "Menu bottom - Logo center"
        },
        {
          "value": "menu_2l_logo_left",
          "label": "Menu bottom - Logo left"
        }
      ],
      "default": "menu_center_logo_left",
      "label": "Header style"
    },
    {
      "type": "select",
      "id": "header_mobile_type",
      "options": [
        {
          "label": "Logo top - Menu bottom",
          "value": "2line_menu_bottom"
        },
        {
          "label": "Logo center - Menu left",
          "value": "menu_left_logo_center"
        }
      ],
      "default": "menu_left_logo_center",
      "label": "Header mobile style"
    },
    {
      "type": "header",
      "content": "Menu settings"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Menu"
    },
    {
      "type": "link_list",
      "id": "mobile_menu",
      "default": "main-menu",
      "label": "Mobile menu"
    },
    {
      "type": "select",
      "id": "menu_type_desktop",
      "label": "Menu type",
      "options": [
        {
          "label": "Default",
          "value": "default"
        },
        {
          "label": "Mega menu",
          "value": "mega"
        }
      ],
      "default": "default"
    },
    {
      "type": "checkbox",
      "id": "is_show_arrow",
      "default": true,
      "label": "Show arrow icons"
    },
    {
      "type": "checkbox",
      "id": "is_show_account",
      "default": true,
      "label": "Show account icon"
    },
    {
      "type": "checkbox",
      "id": "is_show_search",
      "default": true,
      "label": "Show search icon"
    },
    {
      "type": "select",
      "id": "search_type",
      "label": "Icon search type",
      "options": [
        {
          "label": "Icon",
          "value": "icon"
        },
        {
          "label": "Search bar",
          "value": "input"
        }
      ],
      "default": "input"
    }
  ],
  "blocks": [
    {
      "name": "Collections",
      "type": "collections",
      "settings": [
        {
          "type": "header",
          "content": "Collection list"
        },
        {
          "type": "text",
          "id": "for_item",
          "default": "Shop",
          "label": "Menu item title",
          "placeholder": "Home, /mens, etc",
          "info": "How to get handle url ?"
        },
        {
          "type": "textarea",
          "id": "heading",
          "label": "Heading",
          "default": "Heading for section",
          "placeholder": "Heading"
        },
        
        {
          "type": "checkbox",
          "id":"is_show_heading",
          "label": "Show heading",
          "default": true
        },
        {
          "type": "select",
          "id": "content_alignment",
          "label": "Content alignment",
          "options": [
              {
                "label":"Left",
                "value": "start"
              },
              {
                "label":"Center",
                "value": "center"
              },
              {
                "label":"Right",
                "value": "end"
              }
          ],
          "default": "start"
        },
        {
          "type": "select",
          "id": "item_type",
          "options": [
            {
              "value": "title",
              "label": "Menu title"
            },
            {
              "value": "handle",
              "label": "Menu handle"
            }
          ],
          "default": "title",
          "label": "For item",
          "info": "Use handle will work properly with multiple languages"
        },
        {
          "type": "header",
          "content": "Collections"
        },
        {
          "type": "collection",
          "id": "collection-1",
          "label": "Select collection 1"
        },
        {
          "type": "collection",
          "id": "collection-2",
          "label": "Select collection 2"
        },
        {
          "type": "collection",
          "id": "collection-3",
          "label": "Select collection 3"
        },
        {
          "type": "collection",
          "id": "collection-4",
          "label": "Select collection 4"
        },
        {
          "type": "collection",
          "id": "collection-5",
          "label": "Select collection 5"
        },
        {
          "type": "collection",
          "id": "collection-6",
          "label": "Select collection 6"
        },
        {
          "type": "collection",
          "id": "collection-7",
          "label": "Select collection 7"
        },
        {
          "type": "collection",
          "id": "collection-8",
          "label": "Select collection 8"
        },
        {
          "type": "select",
          "label": "Image style",
          "options": [
            {
              "label": "rounded",
              "value": "rounded"
            },
            {
              "label": "Circle",
              "value": "circle"
            }
          ],
          "default": "rounded",
          "id": "image_style"
        },
        {
          "type": "select",
          "id": "title_position",
          "label": "Title position",
          "options": [
            {
              "label": "Left",
              "value": "start"
            },
            {
              "label": "Center",
              "value": "center"
            },
            {
              "label": "Right",
              "value": "end"
            }
          ],
          "default": "start"
        },
        {
          "type": "checkbox",
          "id": "is_show_count",
          "label": "Show product count",
          "default": true
        },
        {
          "type": "header",
          "content": "Slide controls"
        },
        {
          "type": "checkbox",
          "id": "is_auto_play",
          "label": "Auto slide",
          "default": true
        },
        {
          "type": "checkbox",
          "default": true,
          "label": "Show pagination dots",
          "id": "is_show_pagination"
        },
        {
          "type": "range",
          "id": "duration",
          "min": 3,
          "max": 10,
          "default": 5,
          "step": 1,
          "unit": "s",
          "info": "Product conversion speed",
          "label": "Duration"
        },
        {
          "type": "range",
          "id": "slides_per_view",
          "min": 1,
          "max": 4,
          "default": 2,
          "step": 1,
          "label": "Product per row"
        }
      ]
    },
    {
      "name": "Images",
      "type": "images",
      "settings": [
        {
          "type": "text",
          "id": "for_item",
          "default": "Shop",
          "label": "Menu item title",
          "placeholder": "Home, /mens, etc",
          "info": "How to get handle url ?"
        },
        {
          "type": "select",
          "id": "item_type",
          "options": [
            {
              "value": "title",
              "label": "Menu title"
            },
            {
              "value": "handle",
              "label": "Menu handle"
            }
          ],
          "default": "title",
          "label": "For item",
          "info": "Use handle will work properly with multiple languages"
        },
        {
          "type": "image_picker",
          "id": "image-1",
          "label": "Select an image"
        },
        {
          "type": "image_picker",
          "id": "image-2",
          "label": "Select an image"
        },
        {
          "type": "image_picker",
          "id": "image-3",
          "label": "Select an image"
        },
        {
          "type": "image_picker",
          "id": "image-4",
          "label": "Select an image"
        },
        {
          "type": "checkbox",
          "id": "is_slide",
          "label": "Enable slider",
          "default": false
        },
        {
          "type": "range",
          "id": "duration",
          "min": 3,
          "max": 10,
          "default": 5,
          "step": 1,
          "unit": "s",
          "info": "Images conversion speed",
          "label": "Duration"
        },
        {
          "type": "select",
          "id": "slides_per_view",
          "options": [
            {
              "label": "Single",
              "value": "1"
            },
            {
              "label": "Double",
              "value": "2"
            }
          ],
          "default": "1",
          "label": "Images per row"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Header"
    }
  ]
}
{% endschema %}
