
.swiper-button:after {
    font-size: 15px !important;
    color: white;
}

.swiper-button-prev {
    left: 0 !important;
}

.swiper-button-next {
    right: 0 !important;
}

.sn-button {
    padding: 3px 7px;
    border-radius: 3px;
    font-weight: 500;
}

.dropdown-menu .list-menu--link::after {
    content: "";
    width: 0;
    position: absolute;
    bottom: 0;
    height: 2px;
    left: 0;
    z-index: 99;
    transition-duration: 500ms;
}

.list-menu--link:hover::after {
    width: 100%;
}

.list-menu--link.menu_item_active::after {
    width: 100%;
}

.list-submenu,
.list-submenu-child {
    opacity: 0;
    max-height: 0;
    visibility: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
}


.list-menu-item .list-submenu[open],
.list-menu--sub:hover .list-submenu-child {
    max-height: fit-content;
    opacity: 1;
    visibility: visible;
}


.icon.icon-caret {
    transition: transform 0.3s ease;
}


.list-menu-item.list-menu--link{
    font-size: 13px;
}

.f-menu__link.f-menu__link--level-1 .f-menu__arrow svg