<div class="absolute left-0 top-full list-submenu submenu_level-1 z-10">
  <ul class="flex flex-col items-start border">
    {% for childlink in link.links %}
      <li class="px-4 py-2 relative list-menu--sub w-full">
        <div class="flex items-center justify-between gap-2">
          <a
            class="whitespace-nowrap w-fit list-menu--link pb-1 relative flex items-center gap-2 text-base justify-between"
            href="{{ childlink.url }}"
          >
            {{- childlink.title | escape -}}
          </a>
          {% if childlink.links != blank %}
            <span class="-rotate-90 caret-submenu">
              {% render 'icon-caret' %}
            </span>
          {% endif %}
        </div>
        <div class="absolute z-20 left-full top-0 list-submenu-child">
          <ul class="flex flex-col items-start border submenu_level-2">
            {% for subchildlink in childlink.links %}
              <li class="px-4 py-2">
                <a
                  class="whitespace-nowrap w-fit list-menu--link pb-1 list-menu--link--sub--child relative text-base"
                  href="{{ subchildlink.url }}"
                >
                  {{- subchildlink.title | escape -}}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
