{% liquid
  assign heading = block.settings.heading
  assign sub_heading = block.settings.sub_heading
  assign text_alignment = block.settings.content_alignment
%}

<div class="w-full block p-5 text-{{text_alignment}}">
  {% if heading != blank %}
    <h2 class="w-full text-lg lg:text-xl font-bold">{{ heading }}</h2>
  {% endif %}
  {% if sub_heading != blank %}
    <h3 class="w-full text-md lg:text-lg">
      {{ sub_heading }}
    </h3>
  {% endif %}
</div>
